#countLable {
    display: block;
    font-size: 10em;
    text-align: center;
    font-family: Helvetica;
}
#btnContainer {
    text-align: center;
}
.button {
    background-color: hsl(214, 100%, 74%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: hsl(214, 100%, 64%);
}